.masthead-container {
    border: 1px solid black;
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div {
    margin: 0;
    background: transparent;
}

.search-container {
    flex: 0 1 728px;
    min-width: 0px;
    display: flex;
}

.yt-searchbox {
    position: relative;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px gray;
    color: var(--yt-searchbox-text-color);
    padding: 2px 6px;
    flex: 1;
    flex-basis: 1e-9px;
}

#search-icon-legacy.ytd-searchbox {
    cursor: pointer;
    width: 65px;
    border: 1px solid palegreen;
    background-color: yellow;
    border-radius: 0 2px 2px 0;
    margin: 0;
    --yt-icon-button-icon-width: 24px;
    --yt-icon-button-icon-height: 24px;
}

button {
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    outline: none;
    background-color: transparent;
}
